{% extends 'base.html.twig' %}

{% block title %}Actualités{% endblock %}

{% block body %}
    <h2 class="mt-4 text-2xl font-bold text-indigo-600">Les articles</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8">
    {% for post in latestPosts %}
        <article class="mb-4 border shadow px-4 py-2">
            <h2 class="font-bold text-xl text-center mb-2">{{ post.title }}</h2>
            <p>{{ formattedContent|split(' ')|slice(0, 20)|join(' ') ~ '...' }}</p>
            <p class="text-indigo-600 underline cursor-pointer hover:text-indigo-700 visited:text-gray-500">
                <a href="{{ path('app_actus_post', {'id': post.id}) }}">Lire la suite</a>
            </p>
            <p><small>Publié le {{ post.createdAt|date('d/m/Y') }}</small></p>
            <p><small>Par {{ post.author }}</small></p>
        </article>
    {% else %}
        <p>Aucun article trouvé.</p>
    {% endfor %}
    </div>
{% endblock %}
