{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div
		class="max-w-4xl p-6 mx-auto mt-10">

		<!-- Barre de recherche -->
		<div class="mb-6">
			<form action="{{ path('post_search') }}" method="get">
				<input type="text" name="q" placeholder="Rechercher un post..." class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" value="{{ query|default('') }}">
			</form>
		</div>

		<!-- Résultats de recherche -->
		<div>
			{% if query is not empty %}
				<h1>Résultats de recherche pour "{{ query }}"</h1>
			{% endif %}

			{% if  posts is  empty %}
				<p>Aucun résultat trouvé.</p>

			{% else %}
				<ul class="mt-4 space-y-4">
					{% for post in posts %}
						<li class="p-4 bg-white border border-gray-300 rounded-lg shadow">
							<a href="{{ path('post_show', {'id': post.id}) }}" class="text-lg font-bold text-blue-600 hover:underline">
								{{ post.title }}
							</a>
							<p class="text-gray-700">{{ post.content[:100] }}...</p>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>

	</div>
{% endblock %}

