{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Page d'accueil</h1>
    {% if app.user %}
        <!-- si l'utilisateur est connecté -->
        <p>Bonjour, {{ app.user.email }} !</p>
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
    {% else %}
        <!-- si l'utilisateur n'est pas connecté -->
        <a href="{{ path('app_login') }}">Se connecter</a> |
        <a href="{{ path('app_register') }}">S'inscrire</a>
    {% endif %}
    <div class="last-post mt-5 px-3">
    <h2 class="text-2xl font-bold text-gray-400 border-b-2 pb-3">Les derniers articles</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-3">
    {% for post in latestPosts %}
        <article class="mb-4 border shadow px-4 py-2">
            <h2 class="font-bold text-xl text-center mb-2">{{ post.title }}</h2>
            <p>{{ post.content }}</p>
            <p class="text-indigo-600 underline cursor-pointer hover:text-indigo-700 visited:text-gray-500"><a href="">Lire la suite</a></p>
            <p><small>Publié le {{ post.createdAt|date('d/m/Y') }}</small></p>
            <p><small>Par {{ post.author }}</small></p>
        </article>
    {% else %}
        <p>Aucun article trouvé.</p>
    {% endfor %}
    </div>
    </div>
    <p class="text-center text-indigo-600 underline cursor-pointer"><a href="{{ path('app_actus') }}">Voir tous les articles</a></p>
{% endblock %}
